.reports-container.dark {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.reports-container h2 {
  font-weight: bold;
}

.card-metric {
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}
